<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS</key>
	<dict>
		<key>CognitoUserPool</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>CognitoAuthScopes</key>
				<array>
					<string>openid</string>
					<string>email</string>
					<string>aws.cognito.signin.user.admin</string>
				</array>
				<key>CognitoAuthSignInRedirectUri</key>
				<string>xxx://</string>
				<key>CognitoAuthSignOutRedirectUri</key>
				<string>xxx://</string>
				<key>CognitoAuthWebDomain</key>
				<string>https://xxx.com</string>
				<key>CognitoUserPoolAppClientId</key>
				<string>xxx</string>
				<key>CognitoUserPoolAppClientSecret</key>
				<string>xxx</string>
				<key>CognitoUserPoolId</key>
				<string>us-east-1_xxx</string>
				<key>Region</key>
				<string>us-east-1</string>
			</dict>
		</dict>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>us-east-1:xxx</string>
					<key>Region</key>
					<string>us-east-1</string>
				</dict>
			</dict>
		</dict>
		<key>S3TransferManager</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>us-east-1</string>
			</dict>
		</dict>
		<key>S3TransferUtility</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>us-east-1</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Glacier</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.glacier.Messenger</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>glaciermessenger</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.chrisballinger.ChatSecure</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chatsecure</string>
				<string>fb447241325394334</string>
				<string>ha52f2393da517e1c89b36ac1df60924ca</string>
				<string>xmpp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>51d17d3e-5e07-49ad-a308-9625d81e411f</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>octopusauth</string>
		<string>glaciervoice</string>
		<string>googlechrome-x-callback</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiYWxmcmllZG1hbiIsImEiOiJjaXp5YWJxZDQwM2FqMzJxcm9scGh3N3U5In0.NoRKK6Uf4BZz54sZJXwDlA</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>172.16.2.240</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Access to the camera is required to take and send photos.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allows user to send current location in message if desired</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allows user to send current location in message if desired</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allows user to send current location in message if desired</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Access to the microphone is needed to send voice messages.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Access to the photo library is required for option to save incoming photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to the photo library is required to send your existing photos.</string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
		<string>OTRResources.bundle/MaterialIcons-Regular.ttf</string>
		<string>OTRResources.bundle/ios-icon-font.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchMsgr</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
