[submodule "Submodules/ChatSecure-Push-iOS"]
	path = Submodules/ChatSecure-Push-iOS
	url = git@github.com:afriedmanGlacier/ChatSecure-Push-iOS.git
[submodule "Submodules/SignalProtocol-ObjC"]
	path = Submodules/SignalProtocol-ObjC
	url = git@github.com:ChatSecure/SignalProtocol-ObjC.git
[submodule "Submodules/LumberjackConsole"]
	path = Submodules/LumberjackConsole
	url = git@github.com:ChatSecure/LumberjackConsole.git
[submodule "Submodules/YapTaskQueue"]
	path = Submodules/YapTaskQueue
	url = git@github.com:ChatSecure/YapTaskQueue.git
[submodule "Submodules/JSQMessagesViewController"]
	path = Submodules/JSQMessagesViewController
	url = git@github.com:afriedmanGlacier/JSQMessagesViewController.git
[submodule "Submodules/libsqlfs"]
	path = Submodules/libsqlfs
	url = git@github.com:afriedmanGlacier/libsqlfs.git
[submodule "Submodules/IOCipher"]
	path = Submodules/IOCipher
	url = git@github.com:afriedmanGlacier/IOCipher-ObjC.git
[submodule "Submodules/YapDatabase"]
	path = Submodules/YapDatabase
	url = git@github.com:afriedmanGlacier/YapDatabase.git
[submodule "Submodules/OTRKit"]
	path = Submodules/OTRKit
	url = git@github.com:afriedmanGlacier/OTRKit.git
[submodule "Submodules/XMPPFramework"]
	path = Submodules/XMPPFramework
	url = git@github.com:afriedmanGlacier/XMPPFramework.git
